Repository elastic/ingest-docs, pull requests merged in 2023-05, with the labels that each got.

#153 Add Fleet & Agent 7.17.10 Release Notes
  docs/en/ingest-management/release-notes/release-notes-7.17.asciidoc
Labels: Team:Docs

#183 Add Agent PR 2448 to 8.7.1 release notes
  docs/en/ingest-management/release-notes/release-notes-8.7.asciidoc
Labels: Team:Docs

#188 Add precedent info for service token path and value in agent container
  docs/en/ingest-management/elastic-agent/configuration/env/shared-env.asciidoc
Labels: documentation

#199 Add note about root/admin privilege to install / uninstall agents
  docs/en/ingest-management/elastic-agent/install-elastic-agent.asciidoc
Labels: Team:Docs, v8.7.0

#211 Add preview notice for FQDN feature
  docs/en/ingest-management/elastic-agent/configuration/elastic-agent-standalone-features.asciidoc
  docs/en/ingest-management/fleet/fleet-settings.asciidoc
Labels: Team:Docs

#224 Add instructions to verify Docker install images
  docs/en/ingest-management/elastic-agent/elastic-agent-container.asciidoc
Labels: Team:Docs

#235 Endpoint security supports the FQDN feature in 8.8.
  docs/en/ingest-management/elastic-agent/configuration/elastic-agent-standalone-features.asciidoc
  docs/en/ingest-management/fleet/fleet-settings.asciidoc
Labels: Team:Docs, 8.8-request

#239 [Docs] Add missing Fleet scalability options
  docs/en/ingest-management/fleet/fleet-server-scaling.asciidoc
Labels: Team:Docs

#241 Add file path length restriction for standalone agent
  docs/en/ingest-management/elastic-agent/install-standalone-elastic-agent.asciidoc
Labels: Team:Docs
