Repository elastic/ingest-docs, pull requests merged in 2023-06, with the labels that each got.

#244 Revert "Add file path length restriction for standalone agent"
  docs/en/ingest-management/elastic-agent/install-standalone-elastic-agent.asciidoc
Labels: Team:Docs

#246 Add known issue for file path length
  docs/en/ingest-management/release-notes/release-notes-8.8.asciidoc
Labels: Team:Docs

#247 Update links to ingest/getting started content
  docs/en/ingest-management/integrations/add-integration-to-policy.asciidoc
  docs/en/ingest-management/migrate-beats-to-agent.asciidoc
  docs/en/ingest-management/quick-starts.asciidoc
Labels: Team:Docs, v8.0.0

#250 [8.8] Update links to ingest/getting started content (#247)
  docs/en/ingest-management/integrations/add-integration-to-policy.asciidoc
  docs/en/ingest-management/migrate-beats-to-agent.asciidoc
  docs/en/ingest-management/quick-starts.asciidoc
Labels: v8.8.0, backport

#251 Add Fleet & Agent 8.8.1 release notes
  docs/en/ingest-management/release-notes/release-notes-8.8.asciidoc
Labels: Team:Docs

#253 Add known issue for 8.8.0 stalled upgrade
  docs/en/ingest-management/release-notes/release-notes-8.8.asciidoc
Labels: Team:Docs

#255 Update 8.8.0 known issue for stalled upgrade
  docs/en/ingest-management/release-notes/release-notes-8.8.asciidoc
Labels: Team:Docs

#260 Fix anchor alignment on Fleet settings page
  docs/en/ingest-management/fleet/fleet-settings.asciidoc
Labels: Team:Docs

#269 Update .backportrc.json to add 8.9 branch
  .backportrc.json
Labels: Team:Docs

#270 Fix build break due to duplicate image pull
  docs/en/ingest-management/elastic-agent/scaling-on-kubernetes.asciidoc
  docs/en/ingest-management/images/agent-status1.png
Labels: Team:Docs

#275 Add Fleet & Agent 8.8.2 release notes
  docs/en/ingest-management/release-notes/release-notes-8.8.asciidoc
Labels: Team:Docs

#266 Add Fleet & Agent 7.17.11 Release Notes
  docs/en/ingest-management/release-notes/release-notes-7.17.asciidoc
Labels: Team:Docs
