Repository elastic/ingest-docs, pull requests merged in 2023-04, with the labels that each got.

#97 Update Integrations graphic on overview page
  docs/en/ingest-management/images/integrations.png
Labels: documentation, v8.6.0, v8.7.0

#155 [Backport] [8.7] [154] Update troubleshooting.asciidoc
  docs/en/ingest-management/troubleshooting/troubleshooting.asciidoc
Labels: Team:Docs

#156 Fix links pointing to 'master'
  docs/en/ingest-management/elastic-agent/run-container-common/kibana-fleet-data.asciidoc
  docs/en/ingest-management/elastic-agent/running-on-kubernetes-standalone.asciidoc
Labels: Team:Docs

#163 Remove Subcategories feature from 8.7 Release Notes
  docs/en/ingest-management/release-notes/release-notes-8.7.asciidoc
Labels: Team:Docs

#160 Add instructions on customizing installation base path for Elastic Agent
  docs/en/ingest-management/elastic-agent/installation-layout.asciidoc
  docs/en/ingest-management/tab-widgets/install-layout.asciidoc
Labels: Team:Elastic-Agent

#150 Add Fleet & Agent 8.7.1 release notes
  docs/en/ingest-management/release-notes/release-notes-8.7.asciidoc
Labels: Team:Docs

#181 Change the known issue number to pint to the correct one
  docs/en/ingest-management/release-notes/release-notes-8.6.asciidoc
Labels: documentation, Team:Elastic-Agent
