Repository elastic/ingest-docs, pull requests merged in 2023-07, with the labels that each got.

#303 Update fleet-settings.asciidoc
  docs/en/ingest-management/fleet/fleet-settings.asciidoc
Labels: documentation, Team:Docs

#309 Fleet Server Scaling should contain the note about max 500 policies
  docs/en/ingest-management/fleet/fleet-server-scaling.asciidoc
Labels: Team:Docs, v8.8.3, v8.9.0, backport-8.9, backport-8.8, v8.10.0

#310 We are missing the mentioning of artifacts.elastic.co in our overview docs
  docs/en/ingest-management/overview.asciidoc
Labels: Team:Docs, v8.8.3, v8.9.0, backport-8.9, backport-8.8, v8.10.0

#316 Update API generation docs readme to refer to ingest-docs repo
  docs/en/ingest-management/fleet/api-generated/README.md
Labels: Team:Docs, backport-8.9, backport-8.8

#319 Update README.md with correct paths for new ingest-docs repo
  docs/en/ingest-management/fleet/api-generated/README.md
Labels: Team:Docs, backport-8.9, backport-8.8

#325 Add steps to generate Elastic Agent diagnostic from Fleet
  docs/en/ingest-management/troubleshooting/images/collect-agent-diagnostics2.png
  docs/en/ingest-management/troubleshooting/troubleshooting.asciidoc
Labels: Team:Docs, v8.8.3, v8.9.0, backport-8.9, backport-8.8, v8.10.0

#332 IngestArch: Differentiate between proxies
  docs/en/ingest-arch/14-ea-ls-es.asciidoc
  docs/en/ingest-arch/15-proxy.asciidoc
Labels: documentation, backport-skip

#334 Add docs for upgrade package verification with alternate PGP keys
  docs/en/ingest-management/commands.asciidoc
  docs/en/ingest-management/elastic-agent/upgrade-standalone-elastic-agent.asciidoc
Labels: Team:Docs, v8.8.3, v8.9.0, backport-8.9, backport-8.8, v8.10.0

#333 IngestArch: Add config example for Logstash multi-tenant arch
  docs/en/ingest-arch/13-multitenant.asciidoc
Labels: backport-skip

#329 Add Fleet & Agent 7.17.12 Release Notes
  docs/en/ingest-management/release-notes/release-notes-7.17.asciidoc
Labels: Team:Docs

#341 Add Fleet & Agent 8.9.0 release notes
  docs/en/ingest-management/index.asciidoc
  docs/en/ingest-management/release-notes/release-notes-8.9.asciidoc
Labels: Team:Docs, v8.9.0, backport-8.9, v8.10.0

#352 Update recommended Disk and RSS Mem Size settings - v8.1
  docs/en/ingest-management/elastic-agent/install-elastic-agent.asciidoc
Labels: Team:Docs, backport-skip

#351 Update recommended Disk and RSS Mem Size settings - v8.2
  docs/en/ingest-management/elastic-agent/install-elastic-agent.asciidoc
Labels: Team:Docs, backport-skip

#350 Update recommended Disk and RSS Mem Size settings - v8.3
  docs/en/ingest-management/elastic-agent/install-elastic-agent.asciidoc
Labels: Team:Docs, backport-skip

#344 Update recommended Disk and RSS Mem Size settings for Elastic Agent
  docs/en/ingest-management/elastic-agent/install-elastic-agent.asciidoc
Labels: Team:Docs, backport-8.9, backport-8.8, v8.10.0

#271 Add updated proxy settings docs
  docs/en/ingest-management/fleet-agent-proxy-host-variables.asciidoc
  docs/en/ingest-management/fleet-agent-proxy-managed.asciidoc
  docs/en/ingest-management/fleet-agent-proxy-package-registry.asciidoc
  docs/en/ingest-management/fleet-agent-proxy-standalone.asciidoc
  docs/en/ingest-management/fleet-agent-proxy-support.asciidoc
  docs/en/ingest-management/fleet-agent-proxy-when-to-configure.asciidoc
  docs/en/ingest-management/images/agent-proxy-server-managed-deployment.png
  docs/en/ingest-management/images/elastic-agent-edit-proxy-secure-settings.png
  docs/en/ingest-management/images/elastic-agent-proxy-edit-fleet-server.png
  docs/en/ingest-management/images/elastic-agent-proxy-edit-output.png
  docs/en/ingest-management/images/elastic-agent-proxy-edit-proxy.png
  docs/en/ingest-management/images/elastic-agent-proxy-gateway-secure.png
  docs/en/ingest-management/index.asciidoc
Labels: Team:Docs, v8.8.3, v8.9.0, backport-8.9, backport-8.8, v8.10.0

#360 Remove tested version number from agent minimum install reqs
  docs/en/ingest-management/elastic-agent/install-elastic-agent.asciidoc
Labels: Team:Docs, backport-8.9, backport-8.7
